<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<script src="/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <ul>
	    <% consoHours.forEach(function(conso, e) { %>
		<li><%= e %>h => <%= conso.inject %></li>
	    <% }); %>
	</ul>
      </div>
    </div>
  </div>
</body>
</html>
